In [1]:
import pandas as pd
import numpy as np

In [2]:
# Завантаження даних за кожний рік та додавання до кожного набору даних колонки "year"

data_list = []

for year in range(2015, 2024):
    filename = f'/home/anna/data/archive/WHR_{year}.csv'
    data = pd.read_csv(filename)
    data['year'] = year
    data_list.append(data)

In [3]:
# З'єдання за всі роки в один датафрейм

all_data = pd.concat(data_list, ignore_index=True)

In [4]:
# Перевірка на відсутні занчення

all_data.isnull().sum()

country                         0
region                          0
happiness_score                 0
gdp_per_capita                  0
social_support                  0
healthy_life_expectancy         1
freedom_to_make_life_choices    0
generosity                      0
perceptions_of_corruption       1
year                            0
dtype: int64

Знайдено відсутні значення в двох колонках

In [7]:
all_data.loc[(all_data['perceptions_of_corruption'].isnull()) | (all_data['healthy_life_expectancy'].isnull())]

,country,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,year
489,United Arab Emirates,Middle East and North Africa,6.774,2.096,0.776,0.67,0.284,0.186,NaN,2018
1328,State of Palestine,Middle East and North Africa,4.908,1.144,1.309,NaN,0.416,0.065,0.067,2023

In [10]:
# заповнення пропущених значень середнім за всі роки
         
mean_cor_UAE = all_data[all_data['country'] == 'United Arab Emirates']['perceptions_of_corruption'].mean()

all_data['perceptions_of_corruption'].fillna(mean_cor_UAE, inplace=True)

In [18]:
# По палестині є дані лише за 2023 рік, лишаю без змін, оскільки цікавить більше показник happiness_score

all_data[all_data['country'] == 'State of Palestine']

,country,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,year
1328,State of Palestine,Middle East and North Africa,4.908,1.144,1.309,NaN,0.416,0.065,0.067,2023

In [19]:
# перевірка на наявність дублікатів

all_data.duplicated().sum()

0

Дублікати відсутні

In [20]:
all_data.to_csv('WH_2015-2023.csv', index=False)

In [21]:
all_data.head(5)

,country,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,year
0,Switzerland,Western Europe,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978,2015
1,Iceland,Western Europe,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145,2015
2,Denmark,Western Europe,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357,2015
3,Norway,Western Europe,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503,2015
4,Canada,North America and ANZ,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957,2015